// table th {
// padding-right: 10px;
// }

.text-manage {
  margin: 0;
  width: 50px;
}
table {
  counter-reset: rowCount;
}
table > tbody > tr {
  counter-increment: rowCount;
}
table > tbody > tr > td:first-child::before {
  content: counter(rowCount);
}

.time-yellow {
  background-color: yellow;
}
.time-white {
  background-color: white;
}

.check_true {
  background-color: yellow;
}
