
.reservations-new-wrapper {
  height: auto;
  background-color: rgba(0,100,0,0.5);
}
.container {
  width: 100vw;
}
.date-container {
  padding-top: 35px;
  font-size: 30px;
}

// .reserve-text {
//   height: 100vh;
//   padding-top: 0px;
//   font-size: 40px;
//   text-align: center;
// }
// .reservations-new-container {
//   min-height: initial;
//   height: 100vh;
// }

.contents {
  text-align: center;
  background-color: #696969;
  margin-bottom: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

table th {
  padding: 10px;
  border: solid;
}
table td {
  padding: 10px;
  border: solid;
}
.date-container {
  display: flex;
}

